<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>



    <!--    <add name= "ConnectionStringFinal" connectionString="Data Source=SQL6003.site4now.net;
         Initial Catalog=DB_A452DD_kashifdotnet; User Id=DB_A452DD_kashifdotnet_admin ;Password=Smarterasp123; integrated security=False;MultipleActiveResultSets=True;App=EntityFramework" providerName ="System.Data.SqlClient"/>-->
    
   <add name="ConnectionStringFinal" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename = D:\AA Job projects\College Projects\Newcastle College\Newcastle College\App_Data\College_New.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />


  </connectionStrings>
  <system.web>
    <customErrors mode="Off"></customErrors>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
</configuration>
